.nav-pills {
  .badge {
  	float:right;
  }

  > li {

    // Active state
    &.active > a {
     .badge {
     	background: $pumpkin;
     	color: #fff;
     }
    }
  }
}

.nav-stacked {
	a {
		color: $pumpkin;
	}
}

.nav {
  > li > a {
    &:hover,
    &:focus {
      color: $steel-blue;
    }
  }
}