h1, .h1 {
  color: $dark-red;
  font-family:$headings-font-family;
  font-weight:300;
}

h2 {
	font-family:$headings-font-family;
	font-weight:300;
}

h2, h3, h4 {
	color: $steel-blue;
}

h3, h4, h5, h6 {
  font-family: $headings-font-family-alt;
  font-weight:600;
}

h5 {
	color: $slate;
}

h6 {
	color: $pewter;
	text-transform: uppercase;
}

ul {
	list-style-type:square;
}

.highlight {
	background: $tangerine;
}

.shortcut {
	background: $charcoal;
	border-radius:3px;
	color: #fff;
}

kbd {
	font-family: $font-family-sans-serif;
}