fieldset {
	border-width:0 0 1px 0;
	border-color: $charcoal;
	margin:0 0 2em;
	padding:0 0 2.5em;
	position:relative;
}

legend {
	font-family: $headings-font-family-alt;
	font-size: 2.4375em;
	font-weight: 400;
	line-height: 1.218;
	margin: 0;
	padding: 0;
}

label {
	font-weight: 600;
	display: inline-block;
	margin:2em 0 0.5em;
}

label + input[type="radio"] {
	margin-left: .5em;
}

::-webkit-input-placeholder {
	font-style: italic;
}

::-moz-placeholder {
   font-style: italic;
   color: lighten($charcoal, 10%);
}

:-ms-input-placeholder {
   font-style: italic;
}

input {
		font-size: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"] {
	border: 1px solid $charcoal;
	height: 44px;
	padding:0 10px;
	width:100%;

	&.has-error {
		background: rgba($dark-red, .1);
		border-width: 2px;
		border-color: $dark-red;
	}

	&:disabled {
		background: $silver;
	}
}

.checkbox-list {
	list-style-type: none;
	margin-top: 2em;
	padding: 0;

	label {
		margin: 0;
	}
}

select {
	background: #fff;
	border: 1px solid $charcoal;
	color: $charcoal;
	font-size: $base-font-size;
	height: 44px;
	margin: 0 0 1em;
	padding:0 10px;
	width:100%;
}

option {
	padding:0 10px;
}

textarea {
	border: 1px solid $charcoal;
	font-family: $base-font-family;
	font-size: 1em;
	padding:10px;
	width:100%;
	height: 137px;
}

.btn-submit {
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.file-upload {
	@extend .btn;
	@include button-variant($platinum, $steel-blue);
	display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0 10px 10px 0;
    vertical-align:middle;
}

.upload-container {
	display: flex;
	flex-wrap: wrap;

	label {
		width:100%;
	}
}

.file-upload input.upload {
    position: absolute;
    bottom:0;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.name-holder {
	border: 1px solid $charcoal;
	background: transparent;
	display: inline;
	height: 50px;
	padding:0 10px;
}

button[type="submit"].btn {
	font-weight: 600;
	margin-top: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.help-text {
	color: lighten($charcoal, 15%);
	font-style: italic;
	margin: 0.5em 0 0;
}
