.pagination {
	list-style-type: none;
	font-size: 1.2em;
	margin-bottom: 10px;
	padding:0;
	text-align: center;

	li {
		display: inline-block;
	}

	a {
		color: $charcoal;
		display: block;
		padding:10px 15px;
		text-decoration: none;

		&:hover,
		&:active {
			background: $silver;
		}
	}

	.active {
		a {
			color: lighten($charcoal, 50%);

			&:hover {
				background: transparent;
			}
		}
	}
}

.pagination-counter {
	text-align: center;
}