body {
	font-size: $base-font-size;
	font-family: $base-font-family;
	font-weight:400;
	line-height: 1.5625;

	@media (min-width:45em) {
		line-height: 1.6;
	}
}

h1 {
	font-family: $headings-font-family;
	font-size: 2.75em;
	font-weight: 300;
	margin: 0 0 0.416666em;
}

h2 {
	font-family: $headings-font-family-alt;
	font-size: 2.1em;
	font-weight: 400;
	line-height: 1.218;
	margin: 0 0 0.64em;
}

h3 {
	font-family: $headings-font-family-alt;
	font-size: 1.4em;
	font-weight: 600;
	line-height: 1.5;
	margin: 0 0 1em;
}

h4 {
	font-family: $headings-font-family-alt;
	font-weight: 600;
	font-size: 1em;
	line-height: 1.5;
	margin: 0 0 .5em;
}

p + h1 {
	margin-top: 0.416666em;
}

p + h3 {
	margin-top: 1em;
}

p, ul, ol {
	margin: 0 0 1.5625em;
}

small {
	font-size: .85em;
}

strong {
	font-weight: 600;
}

a {
	color: $steel-blue;
}

li {
	margin: 0 0 .5em;
}

dt {
	font-weight: 600;
}

dd {
	margin-bottom: .5em;
}

dd + dt {
	margin-top: 1.5625em;
}

blockquote {


	p {
		display: inline-block;
		margin: 0 0 1em;

		&:before {
			content: open-quote;
			display: inline-block;
			font-size: 1.4em;
		}

		&:after {
			content: close-quote;
			display: inline-block;
			font-size: 1.4em;
		}
	}

	footer {
      color: lighten($charcoal, 15%);
			display: block;
			margin-left: .5em;

			&:before {
				content: "— ";
				display: inline-block;
			}

	}
}
