/***************************
	FONT VARIABLES
***************************/

$base-font-family: "Source Sans Pro", Verdana, Arial, sans-serif;
$base-font-size: 1em;

$headings-font-family: 'Oswald', Arial, sans-serif;;
$headings-font-family-alt: "Source Sans Pro", Verdana, Arial, sans-serif;

$font-path:  "../fonts/" !default;

/***************************
	COLOR VARIABLES
***************************/

$steel-blue : #265b80;
$pewter : #8394a1;
$slate : #5b7183;
$moss : #688465;
$leaf : #67a14c;
$sand : #e0ddce;

$dark-red : #7f2725;
$grape : #5f3a6c;
$pumpkin : #e0832e;
$charcoal : #1f3340;

$ocean : #3baecc;
$asparagus : #a4cc44;
$mint : #30aa83;
$tangerine: #f1c44f;

$white: #fff;
$silver: #D4DADE;
$platinum: #F2F4F5;